/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/analyses/*
!/storage/app/public/analyses/.gitignore
/storage/app/public/guest_analyses/*
!/storage/app/public/guest_analyses/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
*.log
database/database.sqlite
/vendor
.env
.env.*
!.env.example
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
